/* Universal */
* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
/* Universal */

/* Section Divider */
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.separate-horizontal-bar {
  border: inset #eaf6f6 2px;
  border-bottom: none;
  width: 81.5%;
  margin: 0px;
  margin-left: 4.5rem;
}

@media (max-width: 575px) {
  hr {
    margin: 2.5rem auto;
  }
  .separate-horizontal-bar {
    width: 100%;
    margin-left: 0rem;
  }
}
/* Section Divider */

/* Hero Section */
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.hero-left-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full-name,
.hero-paragraph,
.find-me,
.hero-link-items,
.hero-btn {
  margin-left: 4.5rem;
}
.full-name {
  font-family: "EB Garamond", serif;
  font-style: italic;
  color: #1c1c5a;
  line-height: 3rem;
}
.first-name,
.last-name {
  font-size: 3.25rem;
  letter-spacing: 3px;
}
.last-name {
  color: #e1468b;
  font-style: italic;
}
.hero-paragraph {
  margin-top: -0.75rem;
  font-weight: 400;
}
.w,
.d,
.e,
.v,
.a {
  color: #ea9a51;
}
.vb,
.find {
  color: #406ff9;
}
.hero-paragraph,
.find-me {
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
.find-me {
  font-weight: 600;
  margin-top: 2rem;
}
.hero-link-items {
  display: flex;
  gap: 15px;
  list-style: none;
  margin-top: 0.4rem;
}
.facebook-icon,
.linkedin-icon,
.facebook-messenger-icon,
.whatsapp-icon {
  font-size: 1.5rem;
}
.facebook-icon {
  color: #316ff6;
}
.linkedin-icon {
  color: #0a66c2;
}
.facebook-messenger-icon {
  color: #006aff;
}
.whatsapp-icon {
  color: #075e54;
}
.hero-btn {
  margin-top: 1.5rem;
}
.button-contact-me {
  background-color: #1c1c5a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.hero-right-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image {
  height: 62.5vh;
}

/* Responsive */

/* For Small Phone */
@media (max-width: 575px) {
  .hero-section {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto;
  }
  .hero-left-items {
    order: 1;
  }
  .full-name,
  .hero-paragraph,
  .find-me,
  .hero-link-items,
  .hero-btn {
    margin-left: 2.5rem;
  }
  .full-name {
    line-height: 1.5rem;
  }
  .first-name,
  .last-name {
    font-size: 1rem;
  }
  .hero-paragraph {
    font-size: 0.35rem;
    margin-top: -0.35rem;
  }
  .w,
  .d,
  .e,
  .v,
  .a,
  .vb {
    font-size: 0.5rem;
  }
  .find-me,
  .find-me > * {
    margin-top: 0.6rem;
    font-size: 0.6rem;
  }
  .hero-link-items {
    gap: 0.3rem;
    margin-top: -0.05rem;
  }
  .facebook-icon,
  .linkedin-icon,
  .facebook-messenger-icon,
  .whatsapp-icon {
    font-size: 0.75rem;
  }
  .hero-btn {
    margin-top: 0.5rem;
  }
  .button-contact-me {
    font-size: 0.5rem;
    padding: 0.25rem 0.5rem;
  }
  .hero-btn {
    margin-top: 0.25rem;
  }
  .hero-image {
    height: 40vh;
  }
}
/* For Small Phone */

/* For Medium Phone */
@media (min-width: 576px) and (max-width: 768px) {
  .hero-section {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto;
  }
  .hero-left-items {
    order: 1;
  }
  .full-name,
  .hero-paragraph,
  .find-me,
  .hero-link-items,
  .hero-btn {
    margin-left: 2.5rem;
  }
  .full-name {
    line-height: 1.85rem;
  }
  .first-name,
  .last-name {
    font-size: 1.8rem;
  }
  .hero-paragraph {
    font-size: 0.5rem;
    margin-top: -0.35rem;
  }
  .w,
  .d,
  .e,
  .v,
  .a,
  .vb {
    font-size: 0.65rem;
  }
  .find-me,
  .find-me > * {
    margin-top: 0.8rem;
    font-size: 0.8rem;
  }
  .hero-link-items {
    gap: 10px;
    margin-top: -0.05rem;
  }
  .facebook-icon,
  .linkedin-icon,
  .facebook-messenger-icon,
  .whatsapp-icon {
    font-size: 1rem;
  }
  .hero-btn {
    margin-top: 0.75rem;
  }
  .button-contact-me {
    font-size: 0.7rem;
    padding: 0.35rem 0.75rem;
  }
}
/* Responsive */
/* Hero Section */

/* About Me Section */
.about-me-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 2rem 0px;
}
.container-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-image {
  height: 12rem;
  border-radius: 50%;
  border: 2px solid #1c1c5a;
}

.container-about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 12.65rem;
}

.about-me {
  font-family: "EB Garamond", serif;
  align-self: flex-start;
  margin: 0px 0px 10px 0px;
  font-size: 2rem;
  font-weight: 600;
  color: #406ff9;
  text-transform: uppercase;
}
.about-me-paragraph {
  font-family: "Poppins", sans-serif;
  text-align: justify;
  color: #383838;
}

/* Responsive */

/* For Small Phone */
@media (max-width: 575px) {
  .about-me-section {
    display: flex;
    flex-direction: column;
  }
  .profile-image {
    height: 7.5rem;
  }
  .container-about-me {
    margin: 0rem 2.5rem;
  }
  .about-me {
    align-self: center;
    margin: 1rem 0px 0.5rem 0px;
    font-size: 1.25rem;
  }
  .about-me-paragraph {
    font-size: 0.7rem;
  }
}
/* For Small Phone */

/* For Medium Phone */
@media (min-width: 576px) and (max-width: 768px) {
}
/* Responsive */
/* About Me Section */

/* Educational Information */
.education-section {
  margin-bottom: 3rem;
}
.b-sc-information,
.hsc-information,
.dakhil-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 5rem;
  font-family: "Poppins", sans-serif;
  color: #383838;
}
.education {
  margin: 0rem 0rem 0.5rem 4.5rem;
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  color: #406ff9;
  text-transform: uppercase;
}
.b-sc-details,
.hsc-details,
.dakhil-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.05rem;
}
.hsc-details {
  align-items: flex-start;
}
.hsc-details-sm {
  display: none;
}
.faculty-name {
  margin-bottom: 1rem;
}
.university-name {
  color: #ea9a51;
}
.passing-year,
.cgpa-details {
  font-weight: 400;
}
.year,
.cgpa {
  font-weight: 800;
}
.cgpa {
  color: #e1468b;
}
.logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.university-logo {
  height: 80px;
  width: 180px;
}
.college-logo {
  height: 125px;
  width: 125px;
}
.madrasha-logo {
  height: 200px;
  width: 200px;
}

/* Responsive */

/* For Small Phone */
@media (max-width: 575px) {
  .educational-information-section {
    margin: 0rem 2.5rem;
  }
  .education-section {
    margin-bottom: 2rem;
  }
  .b-sc-information,
  .hsc-information,
  .dakhil-information {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 3.5rem;
    font-family: "Poppins", sans-serif;
    color: #383838;
  }
  .hsc-details {
    display: none;
  }
  .hsc-details-sm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.05rem;
  }
  .education {
    margin: 0rem 0rem 0.5rem 0rem;
    font-size: 1.25rem;
  }
  .degree-name,
  .faculty-name,
  .university-name,
  .passing-year,
  .year,
  .cgpa-details,
  .cgpa {
    font-size: 0.375rem;
  }
  .faculty-name {
    margin-bottom: 0.5rem;
  }
  .university-logo {
    height: 35px;
    width: 65px;
  }
  .college-logo {
    height: 75px;
    width: 75px;
  }
  .madrasha-logo {
    height: 100px;
    width: 100px;
  }
}
/* For Small Phone */

/* For Medium Phone */
@media (min-width: 576px) and (max-width: 768px) {
}
/* Responsive */
/* Educational Information */
